.my-page{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 15px;
    width: auto;
    border-radius: 5px;  
}

.card{
    /* background-color: black; */
    padding: 12%;
    width: 370px;
    height: 230px;
    border-radius: 5px;
    /* margin: 5px solid black; */
    /* border: 2px solid black; */
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.card-image{
    height: 100%;
    width: 100%;
    border-radius: 10px;

    object-fit: cover;
    overflow: hidden;
    /* margin: 5px solid black; */
   


}
.card-details{
    font-size: 16px;
}



